name: Tests

on:
  push:
    branches:
      - main

  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04", "windows-2025"]
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    name: "${{ matrix.os }} / Python ${{ matrix.python }}"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: "**/*requirements.txt"

      - name: Install torch CPU-only version
        run: python -m pip install -r .github/torch_cpu_requirements.txt

      - name: Install charonload
        run: python -m pip install --editable ".[dev]"

      - name: Install test python project
        run: python -m pip install tests/data/charonload_installed_project

      - name: Run tests
        run: nox -s tests

      - name: Run C++-only test
        run: |
          cmake -S tests/cpp_only_project -B build/cpp_only_project
          cmake --build build/cpp_only_project --parallel

  check_tests:
    if: always()

    needs:
      - tests

    name: "Check Tests"
    runs-on: ubuntu-24.04

    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
